@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');
  /* Глобальные --------------------------------------------------------------- */

  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: var(--basic-text-size);
}

html{
  background: var(--global-fon);
} 

h2{
  margin-bottom: 6px;
}

.app{
  display: flex;
}

.flex-between{
  display:flex;
  justify-content: space-between;
}
  /* /Глобальные --------------------------------------------------------------- */


  /*--Заголовок---------------------------------------------------------------- */
.header{
  position: fixed;
  display: flex;
  width: 100%;
  height: 60px;
  background: var(--header-color);
  color:  var(--white-text-color);
  z-index: 20;
}

.header-cb-transparent{
  opacity: 0;
  display: flex;
}

.header-strips{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.strip{
  width: 35px;
  height: 5px;
  background-color: var(--white-text-color);
  margin-top: 3px;
  margin-bottom: 3px;
}

.header-text{
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.header-title{
  font-size: var(--header-text-big-size);
  padding-top: 10px;
}

.header-exit{
  display: flex;
  width: 25%;
  margin-right:8%;
  justify-content: flex-end;
}
.settings-button-block{
  float: right;
  margin-right: 4%;
}

.img-settings{
  height: 40px;
  margin-top:15%;
}

.exit-label{
  display: flex;
  align-items: center;
  user-select: none; 
  height: 100%;
  float: right;
  margin-left: 5px;
  font-size: var(--header-text-big-size);
}

/*--/Заголовок--------------------------------------------------------------- */

/*-- Вкладки в левой части экрана ------------------------------------------- */
.left-panel{
  position: fixed;
  background: var(--left-panel-color);
  top: 60px;
  bottom: 0px;
  width: 22%;
  overflow-y: scroll;
  min-width: 170px;
  z-index: 20;
}

.left-panel::-webkit-scrollbar {
  width: 14px;               /* ширина всей полосы прокрутки */
}
.left-panel::-webkit-scrollbar-track {
  background: var(--header-color);        /* цвет зоны отслеживания */
}
.left-panel::-webkit-scrollbar-thumb {
  background-color: var(--white-text-color);    /* цвет бегунка */
  border-radius: 20px;      
  border: 3px solid var(--header-color);  
}

.glob-section-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2%;
  color: var(--header-color);
  font-size: var(--header-text-size);
}

.sub-section-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 38px;
  margin: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  color: var(--black-text-color);
  border-bottom: 2px dotted var(--black-text-color);
  user-select: none;
}

.sub-section-title:hover{
  background-color: var(--left-panel-hover-color);
  cursor: pointer;
  transition: background-color 300 ms;
}

 /* CHECKBOX STYLE C */
 .checkbox.style-c {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox.style-c input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox.style-c input:checked ~ .checkbox__checkmark {
  background-color: #f7cb15;
}
.checkbox.style-c input:checked ~ .checkbox__checkmark:after {
  opacity: 1;
}
.checkbox.style-c:hover input ~ .checkbox__checkmark {
  background-color: var(--white-text-color);
}
.checkbox.style-c:hover input:checked ~ .checkbox__checkmark {
  background-color: #f7cb15;
}
.checkbox.style-c .checkbox__checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--white-text-color);
  transition: background-color 0.25s ease;
  border-radius: 4px;
}
.checkbox.style-c .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #333;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease;
}
.checkbox.style-c .checkbox__body {
  color: var(--black-text-color);
  line-height: 1.4;
  font-size: var(--basic-text-size);
}
/* /CHECKBOX STYLE C  */
/*-- /Вкладки в левой части экрана ------------------------------------------- */

  
  
/* Меню настройки ------------------------------------------------------------*/

.right-panel
{
  position: fixed;
  border-left: solid 6px var(--header-color);
  background: var(--left-panel-color);
  top: 60px;
  bottom: 0px;
  right:0;
  width: 26%;
  overflow-y: scroll;
  overflow-x: hidden;
  float: right;
  z-index: 100;
}

.right-panel::-webkit-scrollbar {
  width: 14px;               /* ширина всей полосы прокрутки */
}
.right-panel::-webkit-scrollbar-track {
  background: var(--header-color);        /* цвет зоны отслеживания */
}
.right-panel::-webkit-scrollbar-thumb {
  background-color: var(--white-text-color);    /* цвет бегунка */
  border-radius: 20px;      
  border: 3px solid var(--header-color);  
}

.settings-title
{
  margin-top: 4%;
  padding-left: 4%;
  margin-bottom: 4%;
  font-size: var(--header-text-size);
  color: var(--header-color);
}

.settings-param-name
{
  color: var(--black-text-color);
  margin: 1%;
  margin-left: 4%;
  font-size: var(--basic-text-size);
}

.settings-param-input{
  background-color: var(--global-fon);
  border-radius: 4px; 
  padding-left: 3%;
  padding-right: 1%;
  margin: 1%;
  margin-left: 4%;
  width: 85%;
}
/* /Меню настройки ------------------------------------------------------------ */



/* Основная часть-------------------------------------------------------------*/
.body{
  margin-top: 60px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  overflow-x:hidden;
}

body::-webkit-scrollbar {
  width: 14px;               /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  background: var(--header-color);  /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--white-text-color);    /* цвет бегунка */
  border-radius: 20px;     
  border: 3px solid var(--header-color);
}

.solution{ 
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* селекторы в начале страницы ----------------------------------*/
.choise-years-text-title{
  color: var(--header-color);
  text-align:left;
  font-size: var(--header-text-size);
  margin-bottom:1%;
  margin-left:51%;
  margin-right:8%;
  margin-top:1%;
  width:50%;
}

.block-pat-years{
  display: flex;
  justify-content: flex-start;
}

.header-selector{
  font-size: var(--header-text-size);
  background-color: var(--global-fon); 
  margin-right: 2%;
  margin-top: 0;
  margin-left: 8%;
  margin-bottom: 0%;
  border: 2px solid var(--left-panel-color);
  box-shadow: 0 0 10px var(--red-shadow-color);
  border-radius: 4px;
  padding-left: 1%;
  width: 50%;
  outline: none;
}

.header-selector option{
  font-size: var(--header-text-size);
  border: 2px solid var(--left-panel-color);
  box-shadow: 0 0 10px var(--red-shadow-color);
}

#years-selector
{
  margin-left: 0%;
  margin-right: 8%;
  width: 50%;
}

/* суммарные теплопотери и теплопритоки------------------ */
.sum-block{
  display: flex;
  flex-direction: column;
  background-color: var(--global-fon); 
  margin: 2%;
  margin-left:  8%;
  margin-right: 8%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--left-panel-color);
  box-shadow: 0 0 10px var(--red-shadow-color);
}


#sum-minus{
float: left; 
display: flex;
flex-direction: column;
width: 35%;
margin-left: 4%;
position: relative;
}

#sum-plus {
float: right;
display: block;
width: 35%;
margin-left: 4%;
margin-right: 4%;
position: relative;
justify-content: space-between;
}
#sum-plus h2{
  margin-bottom: 20px;
}

.block-title{
  margin-top:2%;
  font-size: 26px;
  color: var(--red-shadow-color);
}

.block-suptitles{
  display: flexbox;
  float: left;
  width:100%;
  font-weight: 600;
}

.sum-titles{
  display: flexbox;
  float: left;
  width: 68%;
}

.sum-results{
  display: flexbox;
  float: right;
  width: 30%;
  margin-right: 2%;
  text-align: right;
}

.borders{
  margin-left: 4%;
}

.flex-between-sumlos{
  width: 37%;
  padding-right: 10px;
}
.flex-between-sumadd{
  width: 37%;
  margin-right: 4%;
}
.sum-text-text{
  color: var(--red-shadow-color);
  vertical-align: text-bottom ;
  display: flexbox;
  float: left;
  font-size: 26px;
  width: 50%;
}
.sum-text-res{
  color: var(--red-shadow-color);
  vertical-align: text-bottom ;
  display: flexbox;
  float: right;
  text-align: right;
  font-size: 26px;
  width: 50%;
}

/* результаты*/

.res-subblock{
  display:flex;
  flex-direction: column;
  margin-bottom:30px;
}

/* пространство кнопок------------------- */

.buttons-for-calc{
  display:flex;
  justify-content: space-between;
  color: var(--white-text-color);
  margin-left: 8%;
  margin-right: 8%;
}

.math-calc-block{
  width: 26%;
  margin-right:1%;
}

.math-calc-block-INS{
  width:45%;
}

.math-calc-block-CTP{
  margin-right:0;
  width:23%;
  margin-left:1%;
}
.btn-calc{
  width: 76%; 
  background-color: var(--header-color); 
  border: 4px solid rgb(48, 43, 43);
  border-radius: 10px; 
  box-shadow: 0 0 10px grey;
  color: var(--white-text-color);
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  min-height: 50px;
  max-height: 50px;
}

.btn-calc-INS{
  width:40%;
}

.btn-calc:hover, .btn-save-cur:hover{
  background-color: var(--left-panel-color); 
  border: 4px solid var(--left-panel-hover-color);
  border-radius: 10px; 
  box-shadow: 0 0 10px var(--red-shadow-color) inset;
  color: #e5e5dc;
  min-height: 50px;
  max-height: 50px;
}

.btn-calc-text{
  font-size: var(--basic-text-size);
}

.btn-download{
  padding-top:7px;
  min-width: 71px;
  max-width: 71px;
}

.img-download{
  width: 36px;
  margin-left:20%;
 }

 .output-field {
  width: 100%;
  border: 3px solid var(--left-panel-color);
  box-shadow: 0 0 10px var(--red-shadow-color);
  font-size: var(--basic-text-size); 
  margin-top:20px;
  margin-bottom:5px;
  text-align: right;
  padding-right: 4px;
  outline: none;
}

.comment-text{
  font-size: 16px;
  color: var(--header-color);
  text-align: right;
  margin-top:1%;
}
.select-INS{
  border: 3px, var(--header-color) solid;
  border-radius: 10px;
  text-align: center;
  background-color: var(--global-fon);
}


.btn-TC{
  width: 100%;
}

.razn-TC-CTP-block{
  margin-right: 8%;
  margin-left: 72%;
  margin-bottom: 0;
  text-align: right;
  width: 20%;
}

.ecology-block{
  border: dashed var(--header-color);
  margin-right: 7%;
  margin-left: 7%;
  margin-top: 1%;
  padding-right:0;
  padding-left:2%;
  padding-top:1%;
  padding-bottom:1%;
}

.save-cur-calc-block{
  width: 100%;
  margin-right:6%;
  margin-top: 1%;
}

.btn-save-cur{
  width: 100%; 
  color: var(--header-color);
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  min-height: 50px;
  background-color: var(--left-panel-color); 
  border: 4px solid var(--left-panel-hover-color);
  border-radius: 10px; 
}

/* Отрисовка вспомогательных информатиыных блоков */
.informations-glob-title{
  font-size: var(--header-text-size);
  color: var(--header-color);
  margin-left: 8%;
  margin-top: 4%;
}

.mega-block-title{
  font-size: var(--header-text-size);
  color: var(--red-shadow-color);
  margin-left: 8%;
  margin-top: 2%;
}
.mega-block-subtitle{
  font-size: var(--header-text-size);
  color: var(--red-shadow-color);
  margin-left: 1%;
  margin-top: 0.5%;
  margin-bottom: 2%;
}

.mega-block-sections{
  display: flex; 
  flex-direction: row;
  margin: 1%;
  margin-left: 8%;
  margin-right: 8%;
  border: 2px solid var(--left-panel-color);
  border-radius: 10px; 
  box-shadow: 0 0 10px var(--red-shadow-color);
  background-color: var(--global-fon);
  }

  .collection-reliability{
    flex-direction: column;
    width: 60%;
  }

.parametrs-info-block-borders{
  background-color: var(--white-text-color); 
  padding:10px;
  width:60%;
}
.rel-param-info-borders{
  width: 100%;
  margin-right:2%;
}

.parametrs-info-block{
  display:flex;
  flex-direction: row;
}

.info-text{
  margin-left: 1%;
  margin-top: 1%;
}

.info-values{
  margin-left: 1%;
  margin-top: 1%; 
  background-color: var(--white-text-color); 
  border: 2px solid var(--header-color);
  border-radius: 4px; 
  padding-left: 1%;
  padding-right: 2%;
  width:fit-content;
}
.results-info-block-borders{
  background-color: var(--gray-color-fon); 
  border: 2px solid var(--header-color);
  border-radius: 10px; 
  box-shadow: 0 0 10px var(--header-color);
  text-align: center;
  padding: 30px;
  width: 35%;
  margin: 2%;
}


  .mega-block{
    display: flex;
    flex-direction: row;
    background-color: var(--global-fon); 
    border: 6px solid var(--global-fon); 
    border-top:       var(--left-panel-color); 
    border-right:     var(--left-panel-color); 
    border-radius: 10px; 
  }

  .main-block{
    margin: 1% 2% 0%;
    position: relative;
    display: block;
  }
  .rel-block{
    flex-direction: column;
    margin: 1% 2% 0%;
    position: relative;
    display: flex;
  }
  .block{
    background-color: var(--white-text-color); 
    border: 2px solid var(--left-panel-color);
    border-radius: 10px; 
    box-shadow: 0 0 10px var(--red-shadow-color);
    width: 100%;
    margin-bottom: 1%;
    padding: 10px;
  }

  .field-inp, .field-inp-select, #big-select{
    background-color: var(--white-text-color); 
    border: 2px solid var(--header-color);
    border-radius: 4px; 
    padding-left: 1%;
    padding-right: 1%;
    margin: 0.55%;
    width: 15%;
  }

  .field-inp-select{
    width: 100%;
    min-width: 750px;
  }

  #big-select{
    width:100%;
  }

  .res-block{
    width: 29%;
    margin: 1% 1% 0%;
  }
  
  
  .block-r{
    background-color: var(--white-text-color); 
    border: 2px solid var(--header-color);
    border-radius: 10px; 
    box-shadow: 0 0 10px black;
    width: 100%;
    height: 99%;
    margin-bottom: 1%;
    padding: 20px 40px;
  }
  


/* модальное окно */
.progress-window{
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
}

.progress-main{
  margin: auto;
  background: var(--white-text-color);
  min-height: 30%;
  min-width: 40%;
  vertical-align: middle;
  border: 4px solid var(--left-panel-color);
  border-radius: 8px; 
  padding: 1%;
  padding-top: 3.5%;
  z-index: 1000;
}

.progress-main h1{
  font-size: 28px;
  text-align: center;
  margin-top:20px;
}

#loading_name{
  color: var(--red-shadow-color);
}