<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="Matvey Bashlykov">
    <meta name="descriptioin" content="An about page for bachelor project">

    <!--<link rel="icon" href="Images/CreeperIcon.png" type="image/x-icon">-->
    <!--<link rel="stylesheet" href="../static/main.css" type="text/css">-->
    <link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}" type="text/css">
    <!--<script src='Scripts/main.js' defer></script>-->

    <title>О проекте</title>
</head>


<body>

    <nav id="nav-menu">
        <a href="/">Главная</a>
        <a href="/create_model">Создать модель</a>
        <a href="/use_model">Прогнозирование</a>
        <a id="active" href="/about">О проекте</a>
    </nav>
    <main id="home-main">
        <hr />

        <h1>О проекте</h1>

        <hr />

        <h2>Правила работы</h2>

        <ul>
            <li>Вкладка "Главная" включает в себя взаимодействие с сохранёнными пользователем датасетами и моделями ИНС: 
                возможно их удалять или переименовывать, скачать данные об обучении модели и последний файл с выполненным 
                этой моделью прогнозом;                
            </li>
            <li>Вкладка "Создать модель" включает в себя выбор датасета (путём загрузки нового или выбора сохранённого), его настройку 
                (путём выбора столбцов для чтения и режима: без прогнозирования для валидации и с прогнозированием для валидации), а 
                также настройку модели ИНС (выбор слоёв, числа узлов в них и активационных функций) и имени для её сохранения. 
                При нажатии на кнопку происходит запуск обучения модели с её последующим сохранением. Если был выбран режим с 
                прогнозированием, то результат можно будет скачать на главной странице. После запуска обучения открывается страница 
                с уведомлением о прогрессе, после окончания обучения будет автоматически возвращена главная страница;
            </li>
            <li>
                Вкладка "Прогнозирование" включает в себя выбор датасета (путём загрузки нового или выбора сохранённого), его настройку 
                (путём выбора столбцов для чтения и вывода прогноза) и модели ИНС. При нажатии на кнопку происходит запуск 
                прогнозирования, по окончании которого на ПК будет скачан файл в формате .xlsx с именем выбранной модели;
            </li>
            <li>
                Вкладка "Прогресс обучения" открывается автоматически при запуске обучения, а также при открытии страницы для создания 
                модели в случае, если в данный момент идёт обучение какой-либо модели.
            </li>
        </ul>

        <hr />
    </main>

</body>


</html>